{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}

<div class="container-fluid">
    <h1 class="text-center mt-3 mb-3">Welcome To Car Rent Website</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-lg-4">
            <div class="card shadow">
                {% if post.picture %}
                <img src="{{ post.picture.url }}" alt="Post Image"/>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body|truncatewords:30|linebreaks }}</p>
                    <p class="card-text"><small class="text-body-secondary">Published {{ post.publish }} by {{ post.author }}</small></p>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">View detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "pagination.html" with page=posts%}
{% endblock %}
